<div class="container margen">
  <div class="row">
    <div class="col">

      <div>
        Hola
        <strong>
          {{clienteDto.nombre | uppercase}},
        </strong>
      </div>
      <br>
      <div>
        Ha ocurrido un error al registrar el envío.
      </div>
      <div class="text-center mt-5 tache">
        <div class="icono">
          <i class="fas fa-times-circle"></i>
        </div>
        <br>
        <small class="small">Reportar error al siguiente correo: rodrigo.roblesortiz@gmail.com</small>
      </div>
    </div>
  </div>
</div>

