<main>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <app-legend [lengenda]="menuOperador"></app-legend>
        <div class="form-group row">

          <!-- <div class="col-12 col-md-6">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div> -->
          <div class="col-12 col-md-6">
            <button [routerLink]="['/alta/status/envio']" routerLinkActive="router-link-active" >
              <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header text-center">Envios</div>
                <div class="card-body">
                  <h5 class="card-title text-center">Actualizar estado de envio</h5>
                  <p class="card-text icono"><i class="far fa-compass"></i></p>
                </div>
              </div>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
