.cob {
  padding: 1rem;
  border: 1px solid #0531c4bd;
  border-radius: 10px;
  color: #457B9D;
}

.btn {
  height:3rem;
}

div {
  font-family: 'Raleway', sans-serif;
}

.formulario {
  margin-bottom: 5rem;
}
