<ng-container *ngIf="loading">
  <div class="d-flex justify-content-center mt-5">
    <div class="loader"></div>
  </div>
</ng-container>
<div *ngIf="formulario">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-4">
          <!-- <button class="btn btn-info w-100" [routerLink]="['/inicio']" routerLinkActive="router-link-active" >
              Nueva cotizacion
          </button> -->
      </div>
        <div class="formulario">
          <app-legend [lengenda]="legenda"></app-legend>
          <div class="form-group row">
            <div class="col-12 col-md-6">
              <app-legend [lengenda]="origenLegenda"></app-legend>
              <div class="col-12">
                <label for="remitente" class="etiqueta">Remitente:</label>
                <label for="remitente" class="valor"> {{documentacionDto.origen.remitente}} </label>
              </div>
              <div class="col-12">
                <label for="calle" class="etiqueta">Calle:</label>
                <label for="calle" class="valor"> {{documentacionDto.origen.domicilio.calle}} </label>
              </div>
              <div class="col-12">
                <label for="numeroExt" class="etiqueta">Número Exterior: </label>
                <label for="numeroExt" class="valor"> {{documentacionDto.origen.domicilio.numeroExt}} </label>
              </div>
              <div class="col-12">
                <label for="numeroInt" class="etiqueta">Número Interior:</label>
                <label for="numeroInt" class="valor"> {{documentacionDto.origen.domicilio.numeroInt}} </label>
              </div>
              <div class="col-12">
                <label for="colonia" class="etiqueta">Colonia:</label>
                <label for="colonia" class="valor"> {{documentacionDto.origen.domicilio.colonia}} </label>
              </div>
              <div class="col-12">
                <label for="cp" class="etiqueta">Código Postal</label>
                <label for="cp" class="valor"> {{documentacionDto.origen.domicilio.codigoPostal}} </label>
              </div>
              <div class="col-12">
                <label for="ciudad" class="etiqueta">Ciudad:</label>
                <label for="ciudad" class="valor"> {{documentacionDto.origen.domicilio.ciudad}} </label>
              </div>
              <div class="col-12">
                <label for="estado" class="etiqueta">Estado:</label>
                <label for="estado" class="valor"> {{documentacionDto.origen.domicilio.estado}} </label>
              </div>
              <div class="col-12">
                <label for="pais" class="etiqueta">Pais:</label>
                <label for="pais" class="valor"> {{documentacionDto.origen.domicilio.pais}} </label>
              </div>
              <div class="col-12">
                <label for="telefono" class="etiqueta">Teléfono:</label>
                <label for="telefono" class="valor"> {{documentacionDto.origen.telefonos[0].numeroTelefono}} </label>
              </div>
              <div class="col-12">
                <label for="correo" class="etiqueta">Correo:</label>
                <label for="correo" class="valor"> {{documentacionDto.origen.email}} </label>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <app-legend [lengenda]="destinoLegenda"></app-legend>
              <div class="col-12">
                <label for="destinatario" class="etiqueta">Destinatario:</label>
                <label for="destinatario" class="valor"> {{documentacionDto.destino.destinatario}} </label>
              </div>
              <div class="col-12">
                <label for="destinatario2" class="etiqueta">Destinatario 2:</label>
                <label for="destinatario2" class="valor"> {{documentacionDto.destino.destinatario2}} </label>
              </div>
              <div class="col-12">
                <label for="calle" class="etiqueta">Calle:</label>
                <label for="calle" class="valor"> {{documentacionDto.destino.domicilio.calle}} </label>
              </div>
              <div class="col-12">
                <label for="numeroExt" class="etiqueta">Número Exterior:</label>
                <label for="numeroExt" class="valor"> {{documentacionDto.destino.domicilio.numeroExt}} </label>
              </div>
              <div class="col-12">
                <label for="numeroInt" class="etiqueta">Número Interior:</label>
                <label for="numeroInt" class="valor"> {{documentacionDto.destino.domicilio.numeroInt}} </label>
              </div>
              <div class="col-12">
                <label for="colonia" class="etiqueta">Colonia:</label>
                <label for="colonia" class="valor"> {{documentacionDto.destino.domicilio.colonia}} </label>
              </div>
              <div class="col-12">
                <label for="cp" class="etiqueta"> Código Postal:</label>
                <label for="cp" class="valor"> {{documentacionDto.destino.domicilio.codigoPostal}} </label>
              </div>
              <div class="col-12">
                <label for="ciudad" class="etiqueta">Ciudad:</label>
                <label for="ciudad" class="valor"> {{documentacionDto.destino.domicilio.ciudad}} </label>
              </div>
              <div class="col-12">
                <label for="estado" class="etiqueta">Estado:</label>
                <label for="estado" class="valor"> {{documentacionDto.destino.domicilio.estado}} </label>
              </div>
              <div class="col-12">
                <label for="pais" class="etiqueta">País:</label>
                <label for="pais" class="valor"> {{documentacionDto.destino.domicilio.pais}} </label>
              </div>
              <div class="col-12">
                <label for="telefono" class="etiqueta">Teléfono:</label>
                <label for="telefono" class="valor"> {{documentacionDto.destino.telefonos[0].numeroTelefono}} </label>
              </div>
              <div class="col-12">
                <label for="correo" class="etiqueta">Correo:</label>
                <label for="correo" class="valor"> {{documentacionDto.destino.email}} </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-md-6">
              <app-legend [lengenda]="paqueteLegenda"></app-legend>
              <div class="col-12">
                <div class="col">
                  <label for="largo" class="etiqueta">Largo: </label>
                  <label for="largo" class="valor"> {{documentacionDto.detalle[0].dimensiones.largo}} </label>
                </div>
                <div class="col">
                  <label for="ancho" class="etiqueta">Ancho:</label>
                  <label for="ancho" class="valor"> {{documentacionDto.detalle[0].dimensiones.ancho}} </label>
                </div>
                <div class="col">
                  <label for="alto" class="etiqueta">Alto:</label>
                  <label for="alto" class="valor"> {{documentacionDto.detalle[0].dimensiones.alto}} </label>
                </div>
                <div class="col">
                  <label for="peso" class="etiqueta">Peso:</label>
                  <label for="peso" class="valor"> {{documentacionDto.detalle[0].dimensiones.peso}} </label>
                </div>
                <div class="col">
                  <label for="pesoVolumetrico" class="etiqueta">Peso Volumétrico:</label>
                  <label for="pesoVolumetrico" class="valor"> {{costo.pesoVolumetrico}} </label>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <app-legend [lengenda]="opcionesLegenda"></app-legend>
              <div class="col">
                <label for="tipoRecoleccion" class="etiqueta">Tipo de recolección:</label>
                <label for="tipoRecoleccion" *ngIf="documentacionDto.opciones.tipoRecoleccion == 'RDO'" class="valor">Domicilio</label>
                <label for="tipoRecoleccion" *ngIf="documentacionDto.opciones.tipoRecoleccion == 'O'" class="valor">Ocurre</label>
              </div>
              <div class="col">
                <label for="tipoEntrega" class="etiqueta">Tipo de entrega:</label>
                <label for="tipoEntrega" *ngIf="documentacionDto.opciones.tipoEntrega == 'D'" class="valor"> Domicilio</label>
                <label for="tipoEntrega" *ngIf="documentacionDto.opciones.tipoEntrega == 'O'" class="valor"> Ocurre</label>
              </div>
              <div class="col">
                <label for="tipoEnvio" class="etiqueta">Tipo de envío:</label>
                <label for="tipoEnvio" class="valor" *ngIf="documentacionDto.opciones.tipoEnvio == 'P'"> Paquete </label>
                <label for="tipoEnvio" class="valor" *ngIf="documentacionDto.opciones.tipoEnvio == 'S'"> Sobre </label>
                <label for="tipoEnvio" class="valor" *ngIf="documentacionDto.opciones.tipoEnvio == 'V'"> Valija </label>
              </div>
              <div class="col">
                <label for="tipoServicio" class="etiqueta">Tipo de servicio:</label>
                <label for="tipoServicio" class="valor"> {{costo.tipoServicio}} </label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <app-legend [lengenda]="legendaCosto"></app-legend>
              <div class="col">
                <div class="text-primary text-center col" style="font-size: 2rem;">
                  {{costo.costoTotal | currency}}
                </div>
              </div>
            </div>
          </div>
        </div>

          <ng-container *ngIf="!guiaBoolean; else guia">
            <ng-container *ngIf="pagoBool; else contratacionUsuario">
              <div class="d-flex justify-content-center mt-4">
                <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest" class="tarjeta">
                  <legend class="text-center">Datos de Pago</legend>
                  <div class="form-group row">
                    <div class="col">
                      <p class="text-white">Selecciona opción de datos de la tarjeta:</p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <!-- <div class="w-100">
                      <label for="datos">Datos del cliente:</label>
                    </div> -->
                    <div class="form-check form-check-inline ml-5">
                      <input class="form-check-input" type="radio" name="datos" id="remitente" value="1" formControlName="datos" (change)="asignarDatos()">
                      <label class="form-check-label seleccion" for="remitente">Remitente</label>
                    </div>
                    <div class="form-check form-check-inline ml-5">
                      <input class="form-check-input" type="radio" name="datos" id="destinatario" value="2" formControlName="datos" (change)="asignarDatos()">
                      <label class="form-check-label seleccion" for="destinatario">Destinatario</label>
                    </div>
                    <div class="form-check form-check-inline ml-5">
                      <input class="form-check-input" type="radio" name="datos" id="ninguno" value="0" formControlName="datos" (change)="asignarDatos()">
                      <label class="form-check-label seleccion" for="ninguno">Ninguno</label>
                    </div>
                  </div>
                  <input type="text" class="nombre" formControlName="name" placeholder="Ingresa Nombre:" [class.is-invalid]="nombreNoValido">
                  <small class="text-danger" *ngIf="nombreNoValido"> Ingresa nombre </small>
                  <input type="tel" class="nombre mt-3" formControlName="telefono" placeholder="Ingresa Teléfono:" [class.is-invalid]="telefonoNoValido">
                  <small class="text-danger" *ngIf="telefonoNoValido"> Ingresa teléfono </small>
                  <input type="text" class="nombre mt-3" formControlName="email" placeholder="Ingresa Correo:" [class.is-invalid]="emailNoValido">
                  <small class="text-danger" *ngIf="emailNoValido"> Ingresa correo </small>
                  <div class="mb-3"></div>
                  <ngx-stripe-card
                    [options]="cardOptions"
                    [elementsOptions]="elementsOptions"
                  ></ngx-stripe-card>
                  <div *ngIf="error != ''">
                    <div class="alert alert-danger mt-3" role="alert">
                      {{error}}
                    </div>
                  </div>
                  <ng-container *ngIf="!loadingPago; else elseTemplate">
                    <button type="submit" class="btn btn-outline-primary w-100 mt-4">
                      <i class="far fa-credit-card"></i>Pagar
                    </button>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <div class="d-flex justify-content-center">
                      <div class="loader-pago"></div>
                    </div>
                  </ng-template>
                </form>
              </div>
            </ng-container>
            <ng-template #contratacionUsuario>
              <!-- <form
              [formCliente]="formSelecCliente">

              </form> -->
              <div class="form-group row mt-5" *ngIf="perfil == 'ROL_TSMO' || perfil == 'ROLE_ADMIN'">
                <div class="col-12 col-md-6" >
                  <label for="clientes">Selecciona Cliente:</label>
                  <select name="clientes" id="clientes" class="form-control" [(ngModel)]="clienteInput" (change)="clienteSeleccionado()">
                    <option value="0" selected> Seleccione cliente </option>
                    <option [value]="cliente.id" *ngFor="let cliente of clientes"> {{cliente.nombre}} </option>
                  </select>
                </div>
              </div>
<!--
                <ng-container *ngIf="mostrarFormCliente; else formaCliente">
                  <div class="mt-4">
                    <button class="btn btn-link text-danger" (click)="mostrarFormularioCliente()">- No mostrar formulario </button>
                    <form
                    [formGroup]="formCliente"
                    (ngSubmit)="onGuardarCliente()">
                      <div class="form-group row">
                        <div class="col-12 col-md-4">
                          <label for="nombreCliente">Nombre:</label>
                          <input type="text" name="nombreCliente" id="nombreCliente" class="form-control" formControlName="nombreCliente" [class.is-invalid]="nombreClienteNoValido">
                          <small class="text-danger" *ngIf="nombreClienteNoValido">Ingresa nombre del cliente</small>
                        </div>
                        <div class="col-12 col-md-4">
                          <label for="telefonoCliente">Teléfono:</label>
                          <input type="tel" name="telefonoCliente" id="telefonoCliente" class="form-control" formControlName="telefonoCliente" [class.is-invalid]="telefonoClienteNoValido">
                          <small class="text-danger" *ngIf="telefonoClienteNoValido">Ingresa teléfono del cliente</small>
                        </div>
                        <div class="col-12 col-md-4">
                          <label for="correoCliente">Correo:</label>
                          <input type="text" name="correoCliente" id="correoCliente" class="form-control" formControlName="correoCliente" [class.is-invalid]="correoClienteNoValido">
                          <small class="text-danger" *ngIf="correoClienteNoValido">Ingresa correo del cliente</small>
                        </div>
                        <div class="col-12 col-md-4">
                          <label for="descuentoCliente">Descuento:</label>
                          <input type="number" name="descuentoCliente" id="descuentoCliente" class="form-control" formControlName="descuentoCliente" [class.is-invalid]="descuentoClienteNoValido">
                          <small class="text-danger" *ngIf="descuentoClienteNoValido">Ingresa descuento del cliente</small>
                        </div>
                        <div class="col-12 col-md-4 mt-4">
                          <button type="submit" class="btn btn-outline-primary form-control"> Guardar Cliente</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </ng-container>
                <ng-template #formaCliente>
                  <button class="btn btn-link" (click)="mostrarFormularioCliente()" *ngIf="perfil == 'ROL_TSMO' || perfil == 'ROLE_ADMIN'">+ Agregar nuevo cliente</button>
                </ng-template>
                -->
              <div *ngIf="mostrarErrorSeleccionarCliente">
                <div class="alert alert-warning" role="alert">
                  Seleccione un cliente para continuar
                </div>
              </div>
              <button class="btn btn-info col mt-4" (click)="contratarEnvio()"> Contratar envio </button>
            </ng-template>

          </ng-container>
          <ng-template #guia>
            <div class="d-flex justify-content-center mt-4">
              <div class="numeroGuia">
                Número de guía
                {{envioDto.guiaTsmo}}
              </div>
            </div>
          </ng-template>

          <div class="d-flex justify-content-center mt-4 mb-5">
            <button class="btn btn-outline-danger w-50" (click)="onRegresar()"> Regresar </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errorCotBool">
    <div class="alert alert-danger" role="alert" >
      {{ errorCotizacion }}
    </div>
    <div class="text-center m-5">
      <button class="btn btn-primary p-5" (click)="onRegresar()">Regresar</button>
    </div>
  </div>



