<main>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-5">
          <button class="mt-4 btn btn-primary btn-lg btn-block">Recolección</button>
          <button class="mt-4 btn btn-primary btn-lg btn-block">Almacén</button>
          <button class="mt-4 btn btn-primary btn-lg btn-block">En tránsito</button>
          <button class="mt-4 btn btn-primary btn-lg btn-block">Entregado</button>
          <button class="mt-4 btn btn-primary btn-lg btn-block">Entrega sin éxito</button>
          <button class="mt-4 btn btn-primary btn-lg btn-block">Devuelto</button>
          <button class="mt-4 btn btn-primary btn-lg btn-block">Cancelado</button>
        </div>
      </div>
    </div>
  </div>
</main>
