
<!-- <div class="m-5">
  <div class="d-flex justify-content-center">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFileLang" lang="es" (change)="onArhivoSeleccionado($event)" accept=".csv, .xlsx, .xltx">
      <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
    </div>
  </div>
</div> -->

<div class="m-5">
  <div class="d-flex justify-content-center">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" (change)="onArhivoSeleccionado($event)" accept=".csv, .xlsx, .xltx">
      <label class="custom-file-label" for="customFile">Elige tu documento Excel</label>
    </div>
  </div>
</div>

<!-- <div class="custom-file">
  <input type="file" class="custom-file-input" id="customFile">
  <label class="custom-file-label" for="customFile">Choose file</label>
</div> -->

<div class="text-center m-5">
  <button class="btn btn-success" type="button" (click)="onGuardar()" >Cotizar</button>
</div>

<div *ngIf="bandera">
  <div class="text-center alert alert-success" role="alert">EXITO</div>
  <div>
    Se ha realizado la cotización de {{masivosResponse.exito.length}} envíos. 
  </div>
  <div>
    <button class="btn btn-link"> Mostrar {{masivosResponse.exito.length}} envíos cotizados. </button>
  </div>
  <app-tablas-envios [envios]="masivosResponse.exito" [exito]="true"></app-tablas-envios>
  <br>
  <div class="text-center alert alert-secondary" role="alert">SIN COBERTURA</div>
  <div>
    No tenemos cobertura en {{masivosResponse.sinCobertura.length}} envíos. 
  </div>
  <div>
    <button class="btn btn-link"> Mostrar {{masivosResponse.sinCobertura.length}} envíos sin cobertura. </button>
  </div>
  <app-tablas-envios [envios]="masivosResponse.sinCobertura" [exito]="false"></app-tablas-envios>
  <br>
  <div class="text-center alert alert-danger" role="alert">ERROR</div>
  <div>
    En {{masivosResponse.error.length}} envíos se presento error y no se pudieron procesar para cotización. 
  </div>
  <div>
    <button class="btn btn-link"> Mostrar {{masivosResponse.error.length}} envíos. </button>
  </div>
  <app-tablas-envios [envios]="masivosResponse.error" [exito]="false" [error]="true"></app-tablas-envios>
</div>

