<div class="formulario mt-2 p-4" >
  <app-legend [lengenda]="legendaActualizar"></app-legend>
  <form
  [formGroup]="forma" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <div class="col-12">
        <label for="edoPago">Estado Pago:</label>
        <select name="edoPago" id="edoPago" class="form-control" formControlName="edoPago">
          <option value="APROBADO">Pagado</option>
          <option value="RECHAZADO">Rechazado</option>
          <option value="PENDIENTE">Pendiente</option>
          <option value="REEMBOLSO">Reembolso</option>
          <!-- <option *ngFor="let etapa of etapas; index as i" [value]="i" > {{etapa}} </option> -->
        </select>
      </div>
      <!-- <div class="col-12">
        <label for="descripcion">Descripción:</label>
        <select name="descripcion" id="descripcion" class="form-control" formControlName="descripcion">
          <option [value]="descripcion" *ngFor="let descripcion of descripcionMostrar"> {{descripcion}} </option>
        </select>
      </div> -->
      <div class="col-12 mt-3">
        <button class="btn btn-info w-100 boton" type="submit" [disabled]="desactivarBoton"> Actualizar pago </button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="exitoBoolean" class="mt-5">
  <div class="alert alert-success" role="alert">
    {{exito}}
  </div>
</div>
