<header id="header-principal">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-3 p-3">
                    <img src="assets/logo-white.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <app-nav-header></app-nav-header>
</header>



<router-outlet></router-outlet>

<footer id="footer">
    <section class="fondo-ciudad"></section>
    <section class="fondo-texto">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center p-3">
                        Derechos Reservados &copy; Transportes San Miguel de Oaxaca.
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
