<div class="formulario p-4">
  <form
  [formGroup]="forma" (ngSubmit)="onSubmit()">
  <app-legend [lengenda]="legendaGuia"></app-legend>
  <div class="form-group row">
    <div class="d-flex justify-content-center w-100">
      <div class="w-50">
        <label for="guia">Guía:</label>
        <input type="text" name="guia" id="guia" class="form-control" formControlName="guia" [class.is-invalid]="guiaNoValido">
        <small class="text-danger" *ngIf="guiaNoValido">Ingrese guia para buscar</small>
      </div>
    </div>
    <div class="col mt-3 d-flex justify-content-center">
      <button type="submit" class="btn btn-info w-50">Buscar</button>
    </div>
  </div>
  </form>
  <div class="mt-1" *ngIf="errorBoolean">
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
  </div>
</div>
