<mat-nav-list>
  <a mat-list-item [routerLink]="['/cotizacion']" routerLinkActive="router-link-active" (click)="onSidenavClose()">
    <mat-icon>monetization_on</mat-icon><span class="nav-caption">Cotizador</span>
  </a>
  <!-- <a mat-list-item [routerLink]="['/envio']" routerLinkActive="router-link-active" (click)="onSidenavClose()">
    <mat-icon>local_shipping</mat-icon><span class="nav-caption">Envio</span>
  </a> -->
  <a mat-list-item [routerLink]="['/rastrear']" routerLinkActive="router-link-active" (click)="onSidenavClose()">
    <mat-icon>place</mat-icon><span class="nav-caption">Rastrear</span>
  </a>
  <!-- <a mat-list-item [routerLink]="['/cobertura']" routerLinkActive="router-link-active" (click)="onSidenavClose()">
    <mat-icon>map</mat-icon><span class="nav-caption">Cobertura</span>
  </a> -->
  <a mat-list-item [routerLink]="['/cancelacion']" routerLinkActive="router-link-active" (click)="onSidenavClose()">
    <mat-icon>cancel_schedule_send</mat-icon><span class="nav-caption">Cancelacion</span>
  </a>
  <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="onSidenavClose()">
    <mat-icon>login</mat-icon><span class="nav-caption">Iniciar Sesión</span>
  </a>
</mat-nav-list>
