<!-- <nav>
  <div class="container">
    <div class="menu">
      <ul>
        <li><button [routerLink]="['/cotizacion']" routerLinkActive="router-link-active" >Cotizador</button></li>
        <li><button [routerLink]="['/rastrear']" routerLinkActive="router-link-active">Rastrear</button></li>
        <li><button [routerLink]="['/cobertura']" routerLinkActive="router-link-active">Cobertura</button></li>
        <li><button [routerLink]="['/envio']" routerLinkActive="router-link-active" >Contratar Envio</button></li>
        <li><button [routerLink]="['/cancelacion']" routerLinkActive="router-link-active" >Cancelación</button></li>
        <li><button [routerLink]="['/login']" routerLinkActive="router-link-active" >Inicio de Sesión</button></li>
      </ul>
    </div>
  </div>
</nav>

<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->


    <!-- Code here -->
      <mat-toolbar>

        <!-- <div>
          <a [routerLink]="['/cotizacion']" routerLinkActive="router-link-active" >Cotizador</a>
        </div> -->

        <mat-toolbar-row>
          <div class="col-3 p-3">
            <img src="assets/logo-white.png" alt="TSMO" width="200px">
          </div>
          <span class="example-spacer"></span>
          <div class="icono-menu" fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="botones mr-5" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            <button mat-button [routerLink]="['/cotizacion']" routerLinkActive="router-link-active"><mat-icon>monetization_on</mat-icon>Cotización</button>
            <button mat-button [routerLink]="['/envio']" routerLinkActive="router-link-active"><mat-icon>local_shipping</mat-icon>Envio</button>
            <button mat-button [routerLink]="['/rastrear']" routerLinkActive="router-link-active"><mat-icon>place</mat-icon>Rastrear</button>
            <button mat-button [routerLink]="['/cobertura']" routerLinkActive="router-link-active"><mat-icon>map</mat-icon>Cobertura</button>
            <button mat-button [routerLink]="['/cancelacion']" routerLinkActive="router-link-active"><mat-icon>cancel_schedule_send</mat-icon>Cancelación</button>
            <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active"><mat-icon>login</mat-icon>Iniciar Sesión</button>
          </div>
        </mat-toolbar-row>


        <!-- <div class="botones" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
          <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
              <button [routerLink]="['/cotizacion']" routerLinkActive="router-link-active">Cotización Prueba</button>
            </li>
            <li>
              <button [routerLink]="['/envio']" routerLinkActive="router-link-active">Envio</button>
            </li>
            <li>
              <button [routerLink]="['/rastrear']" routerLinkActive="router-link-active">Rastrear</button>
            </li>
            <li>
              <button [routerLink]="['/cobertura']" routerLinkActive="router-link-active">Cobertura</button>
            </li>
            <li>
              <button [routerLink]="['/cancelacion']" routerLinkActive="router-link-active">Cancelación</button>
            </li>
            <li>
              <button [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar Sesión</button>
            </li>

          </ul>
        </div> -->
      </mat-toolbar>
    <!-- End code -->
