mat-tool-bar {
  z-index: 1;
}

.botones ul {
  display: flex;
}

.botones ul li {
  margin-left: 5rem;
}

button {
  border: none;
  background-color: #1D3557;
  color: #f1faee;
  padding: 6px;
  margin-left: 20px;
}

button:hover {
  color: #f1faee;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1faee;
}

/*  */
.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  background:#1D3557;
  /* border-radius: 3px; */
}

.icono-menu {
  display: none;
}

@media(max-width: 1000px) {
  mat-toolbar {
    border-radius: 0px;
  }

  .botones {
    display: none;
  }

  .icono-menu {
    display: unset;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

mat-icon {
  color: #f1faee;
  margin-right: 5px;
}


